<h1>This is the login page</h1>

<form id="login-form">
    <input type="text" id="email" placeholder="email">
    <input type="password" id="password" placeholder="username">
    <button>login!</button>
</form>

<script src="/js/login.js"></script>
<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div>