<div class="box">
  <h1>Login</h1>
  <form id="login">
    <input type="text" id="login-email" placeholder="email">
    <input type="password" id="login-password" placeholder="password">
    <button>submit</button>
  </form>
</div>

<div class="box">
  <h1>signup</h1>
  <form id="signup">
    <input type="text" id="signup-email" placeholder="email">
    <input type="text" id="signup-username" placeholder="username">
    <input type="password" id="signup-password" placeholder="password">
    <button>submit</button>
  </form>
</div>
<script src="/js/login.js"></script>