<section class="hero has-background-link-dark is-fullheight">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-black">Post</h3>
              <div class="box">
                <button id="upload_widget" class="cloudinary-button button is-black">Upload</button>
              </div>
              <p class="has-text-grey"></p>
              <div class="box">
                <input type="text" placeholder="Add a caption here">  
                <button id="" class="button is-black">Post</button>
              </div>
          </div>
      </div>
  </div>
</section>
<script src="/js/signuploadwidget.js"></script>