<section class="hero has-background-link-dark is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="field">
          </label>
        </div>
        <button class="button is-black">Log In</button>
      </div>
  </div>
</section>
<script src="/js/upload.js"></script>